:root {
	--mkn-font-serif:
		ui-serif, 'Roboto Serif', 'Georgia', 'Hiragino Mincho ProN',
		'Source Han Serif JP', 'Noto Serif JP', 'Source Han Serif',
		'Noto Serif CJK JP', 'Yu Mincho', 'BIZ UDPMincho', serif,
		"Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}
figure {
	text-align: center;
}
figure * {
	text-align: initial;
}
figure figcaption {
	text-align: center;
	font-size: smaller;
}
figure img {
	max-width: 80%;
	margin-block-end: unset;
}
footer {
	font-size: small;
}
footer small {
	font-size: inherit;
}
table caption {
	text-align: center;
	font-size: smaller;
}
.center {
	text-align: center;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	margin: auto -1rem;
}
.flex > * {
	margin: auto 1rem;
	flex-grow: 1;
}
.index {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding: 0 -.5rem;
	text-align: center;
	max-width: 40rem;
}
.index > * {
	margin: auto .5rem;
	flex-grow: 1;
}
.mesg {
	position: relative;
	display: block;
	border: 1px solid var(--nc-bg-3);
	border-radius: .5rem;
	padding: 1rem;
	padding-inline-start: 3em;
	margin-block-end: 1rem;
	background-color: var(--nc-bg-2);
}
.mesg::before {
	display: block;
	position: absolute;
	inset-block-start: 0; inset-inline-start: 0;
	margin: 1rem;
	content: '';
	width: 1.5rem;
	height: 1.5rem;
	background: no-repeat center/contain url('/img/i.svg');
}
.mesg.warning::before {
	background: no-repeat center/contain url('/img/warning.svg');
}
.mesg > *:last-child {
	margin-block-end: 0;
}
.path {
	font-size: small;
}
.right {
	text-align: end;
}
.tt {
	font-family: var(--nc-font-mono);
}
.rm {
	font-style: normal;
}
.verse {
	font-family: var(--mkn-font-serif);
	text-align: start;
	word-break: keep-all;	/* for <wbr> */
}
.verse p {
	padding-inline-start: 1.5rem;
	text-indent: -1.5rem;
}
.box {
	position: relative;
	display: block;
	border: 1px solid var(--nc-bg-3);
	border-radius: .5rem;
	padding: 1rem;
	margin-block-end: 1rem;
	background-color: var(--nc-bg-2);
}
.box > *:last-child {
	margin-block-end: 0;
}
