figure {
	text-align: center;
}
figure * {
	text-align: initial;
}
figure figcaption {
	text-align: center;
	font-size: smaller;
}
figure img {
	max-width: 80%;
}
footer {
	font-size: small;
}
footer small {
	font-size: inherit;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	margin: auto -1rem;
}
.flex > * {
	margin: auto 1rem;
	flex-grow: 1;
}
.path {
	font-size: small;
}
.right {
	text-align: right;
}
.tt {
	font-family: var(--nc-font-mono);
}
